<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<% messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="login-container">
<form action="/inventory/addclassification" method="post">
    <label for="text">Classification Name</label>
    <span class="passpg">NAME MUST BE ALPHABETIC CHARACTERS ONLY.</span>
    <input type="text" name="classification_name" required value="<%= locals.classification_name %>">
    <br>
    <input type="submit" value="Add Classification" class="login-button">
</form>
</div>