<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<% messages() %>


<div class="login-container">
<form action="/inv/addinventory" method="post">
    <label for="inv_make">Make:</label>
    <input type="text" id="inv_make" name="inv_make" required><br><br>

    <label for="inv_model">Model:</label>
    <input type="text" id="inv_model" name="inv_model" required><br><br>

    <label for="inv_year">Year:</label>
    <input type="text" id="inv_year" name="inv_year" maxlength="4" required><br><br>

    <label for="inv_description">Description:</label>
    <textarea id="inv_description" name="inv_description" required></textarea><br><br>

    <label for="inv_image">Image URL:</label>
    <input type="text" id="inv_image" name="inv_image" required><br><br>

    <label for="inv_thumbnail">Thumbnail URL:</label>
    <input type="text" id="inv_thumbnail" name="inv_thumbnail" required><br><br>

    <label for="inv_price">Price:</label>
    <input type="number" id="inv_price" name="inv_price" required><br><br>

    <label for="inv_miles">Miles:</label>
    <input type="number" id="inv_miles" name="inv_miles" required><br><br>

    <label for="inv_color">Color:</label>
    <input type="text" id="inv_color" name="inv_color" required><br><br>

    <input type="submit" value="Add Vehicle" class="login-button">
</form>
</div>