<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<% messages() %>

<div class="vmlinks">
    <a href="/inv/addclassification">Add New Classification</a>
    <a href="/inv/create">Add New Vehicle</a>
</div>