<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="vmlinks">
    <a href="/inv/addclassification">Add New Classification</a>
    <a href="/inv/addinventory">Add New Vehicle</a>
</div>

<div>
<h2>Manage Inventory</h2>
<p>Select a Classification</p>
<%- classificationSelect %>
<table id="inventoryDisplay"></table>
</div>

<noscript>JavaScript must be enabled to use this page.</noscript>


<script src="../../js/inventory.js"></script>
